.gallery {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center; 
    
    padding: 0px;  
    margin: 50px 0px 50px 0px; 
    gap: 50px;    
}

.imgTaskThree {    
    height: 206px;        
    overflow: hidden;
    border: 3px solid orange;
    border-radius: 20px;    
}